body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.test {
  order: 1;
}

.containerAllContent {
  order: 2;
}

div.single-square:hover {
  background-color: #5b5b5b;
}

.coloredDiv {
  background-color: black;
}
